mat-toolbar {
  background-color: var(--app-background-color);
  color: #ffffff;
}
mat-card {
  max-width: 600px;
  margin: 16px auto;
}

mat-form-field {
  width: 100%;
}
.photoURL {
  border-radius: 50%;
  border: 2px solid #ffffff;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transform: all 0.3s ease-in;
  text-decoration: none;
  float: right;
  margin-right: 15px;
}
.photoURL:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #ffffff;
  transform: all 0.3s ease;
  text-decoration: none;
}

.photoURL label {
  display: inline-block;
  padding: 4.5em 0;
}

.uploadPhoto {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.hero {
  min-height: 200px;
  padding-top: 150px;
}

.hero-text {
  margin-left: 15px;
}
