/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: Arial, Helvetica, sans-serif;
}

.mat-icon {
  cursor: pointer;
}

:root {
  --app-background-color: #443a3a;
  --app-primary-color: #E34234;
}

body {
  margin: 0;
  /* background-color: var(--app-background-color); */
}

.spacer {
  flex: 1 1 auto;
}